body, 
html{
 height: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.header{
	width: 100%;
	height: 10%;
}

#map{
	box-sizing: border-box;
	width: 65%;
	height: 100%;
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;
	border-color: #005c99;
	display: inline-block;
	float: left;
	margin-left: 2%;
}

.container{
	box-sizing: border-box;
	width: 100%;
	height: 90%;
}

.container h1{
	text-align: center;
	color: #001f33;
}
.options-box{
	box-sizing: border-box;
	width: 30%;
	height: 100%;
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;
	border-color: #005c99;
	display: inline-block;
	float: left;
	margin-left: 2%;
	position:relative
}

.options-box h2{
	color: #001f33;
	text-align: center;
}

#foursquareImg {
	width: 150px;
	height: 25px;
}

ul {
    list-style-type: none;
    margin: 3%;
    padding: 0;
}

ul li {   
    margin: 5px;
    color: #001f33;
}

ul li:hover {
    color: #005c99;
    cursor: pointer;
}

#filterInput {
	margin-left: 3%;
	max-width: 90%;
}

#foursquareBox {
	
	width: 100%;
	height:auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    position: absolute;
}

#map-error {
	margin: auto;
	text-align: center;
}